img {
    float: left top;
    margin: 15px;
    padding: 5;
  }


  

  p {
    text-align: justify;
    font-size: 15px;
  }

  nav {
    background-color: #8fbc8f;
    padding: 1em;
    position:sticky;
    top:0
  }
  
  nav ul {
    margin: 50;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: #2f4f4f;
    text-decoration: none;
    padding: .5em 1em;
  }

