* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);

  
}
article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
background-image: url(img/logo.png);
  box-shadow: 4px 4px 4px black;
  border-radius: 50%;

} 

/* Your CSS below here */


article{
  background: url(img/top-image.png) top no-repeat, url(img/bottom-image.png) bottom no-repeat, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 86%, rgba(0,0,0,0.3) 100%);
  border-top: 1mm solid red;
  border-bottom: 1mm solid red
}
